html {
    scroll-behavior: smooth;
}

.header-color {
    background: #cb3538;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #FFFFFF, #EF3B36); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: white;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, black, #EF3B36);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, black, #EF3B36); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.call-to-act {
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    grid-template-rows: 30vh;
    background: #cb3538;
}

.call1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    
}

.call2{
    font-family: 'Montserrat', sans-serif;
    color:white;
    grid-column-start: 3;
    grid-column-end:  4;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 3em;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

.info-grid{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    grid-template-rows: 50vh
}

.people{
    grid-column-start: 2;
    grid-column-end:  3;
}

.content{
    justify-self: start;
    align-self: start;
    padding: 25px;
    border-radius: 50%;
}

h1{
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;

}

ul{}

.enviroment{
    grid-column-start: 3;
    grid-column-end:  4;
}

.waste{
    grid-column-start: 4;
    grid-column-end:  5;
}


.sticky {
    position: fixed;
}

.banner-text {
    width: 100%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 1em;
}

.banner-text h1 {
    font-size: 66px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.banner-text hr {
    width: 50%;
    margin: auto;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    background: #cb3538;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

.logo {
    width: 25vh;
    max-height: 600px;
    max-width: 30vh;
}

iframe {
    width: 40vw;
    height: 40vh;
    max-width: 1440px;
    max-height: 810px;
    padding: 20px
}


@media only screen and (max-width: 375px) {
    iframe {
        max-width: 368px;
        max-height: 207px;
    }
    .social-links {
        font-size: 10px;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 450px 300px;
    overflow: hidden;
}

.form-grid1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: stretch;
    align-self: stretch;
    word-wrap: break-word;
    margin-top: 0 !important;
    overflow-y: scroll;
}

.wbgs-logo {
    max-width: 250px;
    max-height: 250px;
    height: 24%;
    width: 24%;
}

.form-grid2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: stretch;
    align-self: stretch;
    word-wrap: break-word;
    margin-top: 0 !important;
    overflow-y: scroll;
}

.form-grid3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: stretch;
    align-self: stretch;
    word-wrap: break-word;
    height: 20%;
}

.btn-eoi[enabled=false] {
    color: blue !important;
}

.form-grid4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: stretch;
    align-self: stretch;
    word-wrap: break-word;
    height: 20%;
    margin-top: 0;
}

.btn-eoi {
    margin: 0 auto;
}

.form-grid1::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.form-grid2::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


@media only screen and (max-width: 600px) {
    iframe {
        max-width: 400px;
        max-height: 225px;
    }
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}


/* enter */

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms ease-in-out 5000ms;
}


/* exit */

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}

.fade-exit-done {
    opacity: 0;
}


/* Card */

.form-container {
    position: relative;
    /* max-width: 40vw; */
    max-width: 100%;
    min-height: 40vh;
    margin: 0 auto;
}


/* ENTER TRANSITION */

.slide-enter {
    position: absolute;
    opacity: 0.0;
    transform: scale(.37) translate3d(-100%, 0, 0);
    z-index: -11;
}

.slide-enter.slide-enter-active {
    opacity: .5;
    transform: scale(1) translate3D(0, 0, 0);
    transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    color: red;
}

.slide-enter-done {
    opacity: .87;
    transform: scale(1.0) translate3D(0, 0, 0);
    color: red;
}


/* EXIT TRANSITION */

.slide-exit {
    transform: scale(1) translate3d(0, 0, 0);
}

.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(.57) translate3d(100%, 0, 0);
    transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    /* transition-timing-function: */
}

.slide-exit-done {
    transform: translate3d(200%, 0, 0);
    color: red;
}

.slideIn-enter {
    /* position: absolute; */
    opacity: 0.0;
    transform: scale(.17) translate3d(0, 100%, 0);
    z-index: -11;
}

.slideIn-enter.slideIn-enter-active {
    opacity: .5;
    transform: scale(1) translate3D(0, 0, 0);
    transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    color: red;
}

.slideIn-enter-done {
    opacity: .87;
    transform: scale(1.0) translate3D(0, 0, 0);
    color: red;
}

.slideIn-exit {
    transform: scale(1) translate3d(0, 0, 0);
}

.slideIn-exit.slideIn-exit-active {
    opacity: 0;
    transform: scale(.57) translate3d(100%, 0, 0);
    transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    /* transition-timing-function: */
}

.slideIn-exit-done {
    transform: translate3d(200%, 0, 0);
    color: red;
}


/* AdminDashboard styling */

.cardContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    /* background: yellow; */
    /* height: 100vh; */
}

.eoiCards {
    color: #cb3538;
}

.filter {
    position: fixed;
    right: 0;
    margin-right: 20px;
}

/* Footer styling*/

.footer{
    display:flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

.section1{
    display:flex;
    flex-direction: column;

}

.section2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3{
    display: flex;
    align-items: center;
}
  
  
  .Icon{
    font-size: 4rem;
    text-decoration: none;
    color: black;
  
  }
  
  .Icon:hover {
    color: #cb3538
  }
  
  .FooterLogo{
    height: 12rem;
    width: 12rem;
    display: flex;
    align-content: center;
  }
