body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    /* letter-spacing: 2; */
    font-family: Montserrat, Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
a {
    font-family: Raleway;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    position: relative;
    margin: 20px auto;
    width: 62%;
    text-align: justify;
    padding: 20px;
    background: rgb(214, 212, 212);
}